*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: cyan;
}

h1{ 
    text-align: center;
    font-size: 40px;
}

th{
    text-align: left;
}


.sections {
    background-color: lawngreen;
}

.emphasis {
    background-color: red;
    font-weight: bold;
}

.font {
    background-color:darkorchid;
}

.override {
    background-color:orange
}

.codeBlock{
    background-color: black;
    color: white;
    margin-left: 5%;
    margin-right:73%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: monospace;
    
}

